@import "/node_modules/reset-css/reset.css";

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #36485c;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --primary-text-color: #36485c;
  --call-to-action-color: #4328eb;
  --secondary-text-color: #172026;
  --sales-card-color: #0085ff;
  --support-card-color: #00a424;
  --growth-card-color: #eb2891;
}
h1 {
  color: var(--secondary-text-color);
  font-size: 64px;
  line-height: 1.2;
}
h2 {
  color: var(--secondary-text-color);
  font-size: 40px;
  line-height: 1.2;
}
p {
  color: var(--primary-text-color);
  font-size: 1.125rem;
  line-height: 128%;
}
a {
  font-weight: 500;
  color: var(--primary-text-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--call-to-action-color);
}
#top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 80px;
  padding-top: 24px;
  padding-bottom: 24px;
}

#top-nav-navigation-section {
  display: flex;
  align-items: center;
  justify-items: center;
}
#top-nav-menu {
  margin-left: 74px;
}
#top-nav-user-section {
  display: flex;
  align-items: center;
}
#top-nav-user-signing {
  margin-left: 54px;
  display: flex;
  align-items: center;
}
#top-nav-user-signing a {
  margin-left: 12px;
}
.top-nav-link {
  margin-right: 54px;
}
#hero-section-text {
  margin: 44px 0px 24px 0px;
}
#hero-section-title {
  text-align: center;
  margin-bottom: 24px;
  font-weight: 600;
}
#hero-section-details {
  text-align: center;
  margin: 0px 60px 40px 60px;
}

#hero-section-buttons {
  margin-top: 44px;
}
.button-primary {
  padding: 16px 32px 16px 32px;
  border: 0;
  border-radius: 4px;
  background-color: var(--call-to-action-color);
  color: white;
  font-size: 18px;
  font-weight: 400;
  margin-right: 40px;
}
.button-primary:hover {
  cursor: pointer;
  filter: saturate(2);
  transform: translateY(-1px);
}
.button-primary:active {
  filter: brightness(0.8);
  transform: translateY(0);
}
#hero-section-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

#pricing-button {
  display: flex;
  align-items: center;
  border: 0;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  background-color: transparent;
  padding: 11.1px 16px 11.1px 16px;
}
#pricing-button p {
  color: var(--call-to-action-color);
}

#pricing-button:hover {
  transform: translateY(-1px);
}
#pricing-button:active {
  transform: translateY(0px);
  filter: brightness(0.8);
}
#pricing-button img {
  margin-left: 12px;
}
#hero-section-image {
  display: flex;
  justify-content: center;
}
#hero-section-image img {
  position: relative;
  max-width: 80%;
}
#hero-section-gradient img {
  margin-top: -727px;
  max-width: 100%;
  z-index: -1;
}
#hero-section-companies {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: -128px 100px 200px 100px;
}
#hero-section-companies p {
  color: white;
  font-size: 18px;
  font-weight: 400;
}
.logo-img {
  margin-right: 56px;
}
#features-section {
  display: block;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  padding: 0 5%;
}
.feature-card {
  display: flex;
  align-items: start;
  justify-content: center;
  margin-bottom: 80px;
}

.feature-card-content-rtl {
  padding: 56px 0px 56px 56px;
}
.feature-card-content-ltr {
  padding: 56px 56px 56px 0px;
}
.feature-card-departement {
  color: var(--sales-card-color);
}
.feature-card h2 {
  color: var(--secondary-text-color);
  margin-top: 16px;
}
.feature-card p {
  font-size: 18px;
}
.feature-card-descirption {
  color: var(--primary-text-color);
  margin-top: 16px;
}
.features-card-focus-content-list {
  color: var(--primary-text-color);
  margin-top: 32px;
}

.features-card-focus-content-list li:nth-child(-n + 2) {
  margin-bottom: 20px;
}
.features-card-focus-content-list li {
  padding-left: 32px;
  background-image: url("assets/check_icon.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.feature-learn-more-link {
  display: flex;
  align-items: start;
  justify-content: start;
  margin-top: 56px;
}
.feature-learn-more-link p {
  margin-right: 12px;
  cursor: pointer;
}
.text-color-link {
  color: var(--call-to-action-color);
}
.text-color-sales {
  color: var(--sales-card-color);
}
.text-color-support {
  color: var(--support-card-color);
}
.text-color-growth {
  color: var(--growth-card-color);
}
.arrow-icon path {
  stroke: var(--call-to-action-color);
}
.arrow-icon-sales path {
  stroke: var(--sales-card-color);
}
.arrow-icon-support path {
  stroke: var(--support-card-color);
}
.arrow-icon-growth path {
  stroke: var(--growth-card-color);
}
.features-card-focus-content-stats {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 48px;
}
.features-card-focus-content-stats div {
  margin-right: 24px;
}
.features-card-focus-content-stats h3 {
  color: var(--secondary-text-color);
  font-size: 32px;
  font-weight: 600;
}

#testimonials-section {
  background-color: #f4f8fa;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 80px;
}
#testimonials-section h2 {
  margin-bottom: 16px;
}
#testimonials-section > p:first-of-type {
  margin-bottom: 72px;
}
.testimonial-header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 16px;
}
.testimonial-header img:last-child {
  margin-left: auto;
}

.testimonial-card {
  flex: 1 1 26%;
  padding: 24px;
  margin: 24px;
  background-color: white;
  border: 0;
  border-radius: 8px;
}
#testimonials-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0px 40px;
}

.testimonial-card img:first-child {
  margin-right: 16px;
}
.testimonial-attestant p {
  text-align: left;
  font-size: 16px;
}
.testimonial-attestant > p:first-child {
  text-align: left;
  font-weight: 600;
}
.testimonial-text {
  text-align: left;
}
#faq-section {
  padding: 120px 80px 60px 80px;
}
.accordion-expanded-answer {
  display: block;
  animation: fade-in 500ms forwards;
}
.accordion-hidden-answer {
  display: none;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#faq-section {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 120px 80px 60px 80px;
  gap: 24px;
}
#faq-description {
  flex-basis: 100%;
  padding: 32px 56px 32px 0px;
}
#faq-accordion {
  flex-basis: 120%;
}
#faq-description p:first-child {
  margin-bottom: 16px;
}
#faq-description h2 {
  margin-bottom: 40px;
}
.accordion-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 0;
  border-radius: 8px;
  background-color: #e3f1ff;
  margin-bottom: 16px;
  padding: 24px;
}
.accordion-item > div:first-child {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 16px;
  cursor: pointer;
}
.accordion-item > div:first-child p {
  font-weight: 600;
  color: var(--secondary-text-color);
}
#plans-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin: 64px 80px 60px 80px;
}
.plan-card {
  height: 490px;
  background-color: white;
  padding: 24px;
  flex-basis: 100%;
  border: 0;
  border-radius: 8px;
  position: relative;
}
.highlighted-plan-card {
  height: 490px;
  background-color: var(--call-to-action-color);
  padding: 24px;
  flex-basis: 100%;
  border: 0;
  border-radius: 8px;
  position: relative;
}
.highlighted-plan-card > p,
.highlighted-plan-card > ul > li {
  color: #f4f8fa;
}

.plan-name {
  margin-bottom: 16px;
  font-size: 20px;
  color: var(--call-to-action-color);
}
.plan-name {
  margin-bottom: 32px;
}
.plan-price {
  margin-bottom: 32px;
  font-size: 32px;
  color: var(--secondary-text-color);
}
.plan-description {
  margin-bottom: 32px;
}
#plans-section button {
  padding-top: 14px;
  padding-bottom: 14px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  position: absolute;
  bottom: 24px;
  left: 24px;
  right: 24px;
}
#plans-section button:hover {
  filter: saturate(2);
  transform: translateY(-1px);
}
#plans-section button:active {
  filter: brightness(0.8);
  transform: translateY(0);
}
.plan-card > button {
  background-color: var(--call-to-action-color);
  color: white;
}
.highlighted-plan-card > button {
  background-color: white;
  color: var(--call-to-action-color);
}
#plans-section {
  padding: 60px 0px;
  background-color: #f4f8fa;
}
#plans-section > h2 {
  margin-bottom: 16px;
  text-align: center;
}
#plans-section > p {
  text-align: center;
}

.plans-card-inclusion-list li {
  list-style-image: url("assets/check_icon_black_16x16.png");
  list-style-position: inside;
  vertical-align: text-top;
  margin-bottom: 16px;
}
.highlighted-plans-card-inclusion-list li {
  padding-left: 32px;
  background-image: url("assets/check_icon_white_16x16.png");
  background-repeat: no-repeat;
  vertical-align: bottom;
  margin-bottom: 8px;
}
.features-card-focus-content-list li:nth-child(-n + 2) {
  margin-bottom: 20px;
}
#cta-section {
  text-align: center;
  margin: 120px 80px 60px 80px;
  border: 0;
  border-radius: 12px;
  padding: 88px 0;
  background-image: url("assets/bottom_gradient.png");
  background-repeat: no-repeat;
}
#cta-section h1 {
  margin-bottom: 48px;
  color: white;
}
#cta-section > p {
  margin-bottom: 56px;
  color: white;
}

.cta-button-primary {
  padding: 16px 32px 16px 32px;
  border: 0;
  border-radius: 4px;
  background-color: white;
  color: var(--growth-card-color);
  font-size: 18px;
  font-weight: 400;
  margin-right: 40px;
}
.cta-button-primary:hover {
  cursor: pointer;
  filter: saturate(2);
  transform: translateY(-1px);
}
.cta-button-primary:active {
  filter: brightness(0.8);
  transform: translateY(0);
}
#cta-section-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

#cta-pricing-button {
  display: flex;
  align-items: center;
  border: 0;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  background-color: transparent;
  padding: 11.1px 16px 11.1px 16px;
}
#cta-pricing-button p {
  color: white;
}

#cta-pricing-button:hover {
  transform: translateY(-1px);
}
#cta-pricing-button:active {
  transform: translateY(0px);
  filter: brightness(0.8);
}
#cta-pricing-button img {
  margin-left: 12px;
}

#bottom-nav {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 60px 80px;
  background-color: #f4f8fa;
}

#bottom-nav-logo {
  display: flex;
  align-items: center;
}
#bottom-nav-logo p {
  font-size: 17px;
  font-weight: 600;
  margin-left: 12px;
}
#bottom-nav-menus {
  display: flex;
  justify-content: space-between;
  width: 65%;
}
.bottom-menu {
  display: flex;
  flex-direction: column;
}
.bottom-menu p {
  margin-bottom: 32px;
  font-weight: 400;
}

.bottom-menu a {
  margin-bottom: 32px;
  font-weight: 600;
}
#copyrights-social {
  display: flex;
  justify-content: space-between;
  padding: 0 80px 56px 80px;
  background-color: #f4f8fa;
}
#social-links a {
  margin-left: 56px;
}
#social-links path:hover {
  fill: var(--call-to-action-color);
}
