@import "/node_modules/reset-css/reset.css";

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #36485c;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  inset: 0px;
  padding: 0px;
}
h1 {
  color: #172026;
  font-size: 64px;
  line-height: 100%;
}
p {
  color: #36485c;
  font-size: 18px;
  line-height: 128%;
}
a {
  font-weight: 500;
  color: #36485c;
  text-decoration: inherit;
}
a:hover {
  color: #4328eb;
}
#top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 80px;
  padding-top: 24px;
  padding-bottom: 24px;
}

#top-nav-navigation-section {
  display: flex;
  align-items: center;
  justify-items: center;
}
#top-nav-menu {
  margin-left: 74px;
}
#top-nav-user-section {
  display: flex;
  align-items: center;
}
#top-nav-user-signing {
  margin-left: 54px;
  display: flex;
  align-items: center;
}
#top-nav-user-signing a {
  margin-left: 12px;
}
.top-nav-link {
  margin-right: 54px;
}
#hero-section-text {
  margin: 44px 280px 24px 280px;
}
#hero-section-title {
  text-align: center;
  margin-bottom: 24px;
  font-weight: 600;
}
#hero-section-details {
  text-align: center;
  margin: 0px 60px 40px 60px;
}

#hero-section-buttons {
  margin-top: 44px;
}
.button-primary {
  padding: 16px 32px 16px 32px;
  border: 0;
  border-radius: 4px;
  background-color: #4328eb;
  color: white;
  font-size: 18px;
  font-weight: 400;
  margin-right: 40px;
}
.button-primary:hover {
  cursor: pointer;
  filter: saturate(2);
  transform: translateY(-1px);
}
.button-primary:active {
  filter: brightness(0.8);
  transform: translateY(0);
}
#hero-section-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

#pricing-button {
  display: flex;
  align-items: center;
  border: #4328eb solid 1px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  background-color: transparent;
  padding: 11.1px 16px 11.1px 16px;
}
#pricing-button p {
  color: #4328eb;
}

#pricing-button:hover {
  transform: translateY(-1px);
}
#pricing-button:active {
  transform: translateY(0px);
  filter: brightness(0.8);
}
#pricing-button img {
  margin-left: 12px;
}
#hero-section-image {
  display: flex;
  justify-content: center;
}
#hero-section-image img {
  position: relative;
  max-width: 80%;
}
#hero-section-gradient img {
  margin-top: -727px;
  max-width: 100%;
  z-index: -1;
}
#hero-section-companies {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: -128px 100px 200px 100px;
}
#hero-section-companies p {
  color: white;
  font-size: 18px;
  font-weight: 400;
}
.logo-img {
  margin-right: 56px;
}
